<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <div class="login-box">
        <form action="/login" class="loginform" method="POST">
        <h1>Login Here</h1>
        <label for="name" class="lbl">Email</label><br>
        <input class="input-box" id="email" type="email" name="email" placeholder="Enter your email" required><br>
        <label for="password" class="lbl">Password</label><br>
        <input class="input-box" id="password" type="password" name="password" placeholder="Enter your password" required>
        <br>
        <div class="failure">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <input class="btn" type="submit" name="submit" value="Login">
        <br>
        <div class="remember">
        <input type="checkbox" name="remember" id="remember">
        <label for="remember">Remember me</label>
        </div>
        <p>Forgot Your Password?<a href="#">Reset Password</a></p>
        <p>Don't have an account?<a href="{{url_for('auth.signup')}}">Sign Up</a></p>
        </form>
    </div>
</body>
</html>